<div class="burger-main">
  <div class="bgmenu-top-items">
    <div class="bgmenu-dashboard" [ngClass]="{ 'active': router.url === '/dashboard' }" routerLink="/dashboard">
      <span>
        <img src="../../../assets/icons/dashboard.png" alt="">
        <p>Dashboard</p>
      </span>
    </div>

    <!-- Product management -->

    <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header class="bgmenu-product-mng align-center-items">
        <span>
          <img src="../../../assets/icons/product.png" alt="">
          <p>Product Management</p>
        </span>
      </mat-expansion-panel-header>
      <ul>
        <li>
          <div routerLink="/product-mng"
           >Manage Product</div>
        </li>
        <li>
          <div routerLink="/category-mng">Category Management</div>
        </li>
        <li>
          <div routerLink="/product-req">Product Request</div>
        </li>
      </ul>
    </mat-expansion-panel>

    <!-- Order management -->
    <div class="bgmenu-order-mng" [ngClass]="{ 'active': router.url === '/order-mng' }" routerLink="/order-mng">
      <span>
        <img src="../../../assets/icons/order.png" alt="">
        <p>Order Management</p>
      </span>
    </div>

    <!-- User management -->
    <div class="bgmenu-user-mng" [ngClass]="{ 'active': router.url === '/user-mng' }" routerLink="/user-mng">
      <span>
        <img src="../../../assets/icons/user.png" alt="">
        <p>User Management</p>
      </span>
    </div>
  </div>

  <!-- Customer support -->
  <div class="bgmenu-bottom-items">
    <div class="bgmenu-cs" [ngClass]="{ 'active': router.url === '/cust-sup' }" routerLink="/cust-sup">
      <!-- <img src="../../../assets/icons/support.png" alt=""> -->
      <span>
        <p>Customer Support</p>
      </span>
    </div>

    <!-- Settings -->
    <div class="bgmenu-settings" [ngClass]="{ 'active': router.url === '/settings' }" routerLink="/settings">
      <img src="../../../assets/icons/setting.png" alt=""><span>
        <p>Settings</p>
      </span>
    </div>

    <!-- Logout -->
    <div class="bgmenu-logout" [ngClass]="{ 'active': router.url === '/logout' }" routerLink="/logout">
      <img src="../../../assets/icons/logout.png" alt=""><span>
        <p>Logout</p>
      </span>
    </div>
  </div>

</div>
