<div class="burger-main">
  <div class="bgmenu-top-items">
    <div class="bgmenu-dashboard active">
      <img src="../../../assets/icons/dashboard.png" alt=""><span><p>Dashboard</p></span>
    </div>
    <div class="bgmenu-product-mng">
      <img src="../../../assets/icons/project.png" alt=""><span><p>Project Management</p></span>
    </div>
    <div class="bgmenu-order-mng">
      <img src="../../../assets/icons/order.png" alt=""><span><p>Order Management</p></span>
    </div>
    <div class="bgmenu-user-mng">
      <img src="../../../assets/icons/user.png" alt=""><span><p>User Management</p></span>
    </div>
  </div>
  <div class="bgmenu-bottom-items">
    <div class="bgmenu-cs">
      <img src="../../../assets/icons/support.png" alt=""><span><p>Customer Support</p></span>
    </div>
    <div class="bgmenu-settings">
      <img src="../../../assets/icons/setting.png" alt=""><span><p>Settings</p></span>
    </div>
    <div class="bgmenu-logout">
      <img src="../../../assets/icons/logout.png" alt=""><span><p>Logout</p></span>
    </div>
  </div>

</div>
