<!-- <app-navbar></app-navbar> -->
  <section>
    <div class="section-name">
      <h1>Dashboard</h1>
    </div>
    <div class="overview-card">
      <div class="user-num">
        <p class="overview-child-head">Total Users</p>
        <p class="overview-child-value">1.5M</p>
      </div>
      <div class="order-num">
        <p class="overview-child-head">Total Orders</p>
        <p class="overview-child-value">5M</p>
      </div>
      <div class="revenue-amnt">
        <p class="overview-child-head">Total Revenue</p>
        <p class="overview-child-value">$1265</p>
      </div>
    </div>
    <div class="report-cards">
      <div class="report-top-seller">

      </div>
      <div class="report-top-product">

      </div>
    </div>
</section>
