<div class="container">
  <div class="login-container">
    <div class="login-form">
      <div class="logo">
        <h4><span><img src="../../../assets/images/logo.png" alt=""></span> ecommy</h4>
        <h1>
          Hello,<br>
          Welcome back Admin
        </h1>
      </div>
      <form action="">
        <div class="login-email">
          <input type="text" name="" id="" placeholder="Enter email/phone">
        </div>
        <div class="login-pass">
          <input type="password" name="" id="" placeholder="Enter password">
        </div>
        <!-- <div class="login-forgot">
          <a href="">Forgot password?</a>
        </div> -->
        <div class="login-submit">
          <button type="submit">Login</button>
        </div>
        <!-- <div class="login-register"><label >Don't have an account?  </label> <a href="">Sign Up</a></div> -->
      </form>
    </div>
  </div>

  <div class="login-background">
    <br>
  </div>
  <!-- <br style="clear:both;"/> -->
</div>
